@using System.Web.Optimization
@Styles.Render("~/Bundle/sass")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>


    <link rel="icon" href="~/Images/icon.png">
    <title>Cocktail Finder</title>
</head>
<body>
    <header>
        <div id="logo"> <img src="~/Images/logo.png" /></div>
        <div id="title">Catchy Name</div>
        <div id="user-display">
            @if (Request.IsAuthenticated)
            {
                <p id="username">@HttpContext.Current.User.Identity.Name</p>

                if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <button id="admin-btn" onclick="location.href='@Url.Action("Index", "Admin")'">Admin Page</button>
                }

                using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logout-form" }))
                {

                    <button id="log-out-btn">Log Out</button>
                    <script>
                        document.getElementById('log-out-btn').onclick(function () {
                            document.getElementById('logout-form').submit();
                        });

                    </script>
                }

            } else
            {
                <button id="sign-in-btn" onclick="location.href='@Url.Action("Account", "User")'">SIGN IN</button>
            }

        </div>
    </header>

    <section>
        <nav>
            <button id="home-btn" onclick="location.href='@Url.Action("Home", "Home")'">Home</button>
            <button id="search-btn" onclick="location.href='@Url.Action("Search", "Home")'">Search</button>
            <button id="top-rated-btn" onclick="location.href='@Url.Action("TopRated", "Home")'">Top Rated</button>
            @if (Request.IsAuthenticated)
            {
                <button id="for-you-btn" onclick="location.href='@Url.Action("ForYou", "Authenticated")'">For You</button>
                <button id="favorites-btn" onclick="location.href='@Url.Action("Favorites", "Authenticated")'">Favorites</button>
                <button id="creator-btn" onclick="location.href='@Url.Action("Creator", "Authenticated")'">Creator</button>
            }
        </nav>
        <main>
            @RenderBody()
        </main>
    </section>

    <img id="bg-image" src="~/Images/bg.jpg" />


</body>
</html>
